requests==2.19.1
beautifulsoup4==4.6.0
lxml==4.2.3
aniso8601==3.0.2
click==6.7
Flask==0.12.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
PyJWT==1.6.4
pytz==2018.4
PyYAML==3.12
redis==2.10.6
six==1.11.0
SQLAlchemy==1.2.5
Werkzeug==0.14.1
psycopg2==2.7.5
Flask-Testing